<?xml version="1.0" encoding="utf-8"?>
<!--

CFY program = CFY Business Management Suite

Integrated enterprise applications to execute and optimize business and IT strategies. 
Enable you to perform essential, industry-specific, and business-support processes with modular solutions.

Version: 0.0.0.1a
Author: Ernesto La Fontaine
Mail: mail@pajarraco.com
License: New BSD License (see docs/license.txt)
Redistributions of files must retain the copyright notice.

File: 
Commnents: 

-->
<menu>
    <item id="2">
        <type>url</type>
        <url>core/bin/logout.php</url>
        <name>Salir</name>
    </item>
</menu>
