@charset "UTF-8";
/*

CFY program = CFY Business Management Suite

Integrated enterprise applications to execute and optimize business and IT strategies.
Enable you to perform essential, industry-specific, and business-support processes with modular solutions.

Version: 0.0.0.1a
Author: Ernesto La Fontaine
Mail: mail@pajarraco.com
License: New BSD License (see docs/license.txt)
Redistributions of files must retain the copyright notice.

File:
Commnents:


*/

flabel{
    width: 250px;
    height: 25px;
    padding-top: 5px;
    display: block;
    float: left;
    clear: both;
}

ffield{
    width: 250px;
    height: 25px;
    padding-top: 5px;
    display: block;
    float: left;
}

fitem{
    font-size:13px;
    font-weight:bold;
    clear: both;
    height: 30px;
    display: block;
    float: left;
}

ftotal{
    width: 250px;
    height: 25px;
    padding-top: 2px;
    float: left;
    clear: both;
    font-size:12px;
    text-align: center;
    display: block;
    margin-top: 3px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cccccc;
}