@charset "UTF-8";
/*

CFY program = CFY Business Management Suite

Integrated enterprise applications to execute and optimize business and IT strategies.
Enable you to perform essential, industry-specific, and business-support processes with modular solutions.

Version: 0.0.0.1a
Author: Ernesto La Fontaine
Mail: mail@pajarraco.com
License: New BSD License (see docs/license.txt)
Redistributions of files must retain the copyright notice.

File:
Commnents:


*/

a
{
    color: #42413C;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

td.cell 
{
    text-align: center;
    padding: 2px;
}

td.cell-header
{
    text-align: center;
    padding: 5px;
}

td.control
{
    text-align: center;
    padding: 5px;
}

table.searchresultstable
{
    border: 0;
    width: 100%;
    border-spacing: 2px;
}

td.searchresultstable
{
    height: 25px
}

tr.searchresultstable1
{
    background-color: #dddbdb;
}

tr.searchresultstable2
{
    background-color: #ffffff;
}

tr.tableheader
{
    background-color: #ADB96E;
    color: white;
    font-weight: bold;
}

.msgarea
{
    color: red;
    cursor: pointer;
}

#newboton

{
    background-color: #ADB96E;
    font-weight: bold;
    padding: 5px;
}

#newboton a
{
    color: white;
}
