@charset "UTF-8";
/*

CFY program = CFY Business Management Suite

Integrated enterprise applications to execute and optimize business and IT strategies.
Enable you to perform essential, industry-specific, and business-support processes with modular solutions.

Version: 0.0.0.1a
Author: Ernesto La Fontaine
Mail: mail@pajarraco.com
License: New BSD License (see docs/license.txt)
Redistributions of files must retain the copyright notice.

File:
Commnents:


*/

td.cell 
{
    text-align: center;
    padding: 2px;

}

td.amountcell
{
    text-align: center;
    cursor: pointer;

}

td.desc-header
{
    text-align: center;
    padding: 5px;

}

td.price-header
{
    text-align: center;
    padding: 5px;

}

td.control
{
    text-align: center;
    padding: 5px;
}

table.searchresultstable
{
    border: 0;
    width: 100%;
    border-spacing: 2px;
}

td.searchresultstable
{
    height: 25px
}

tr.searchresultstable1
{
    background-color: #dddbdb;
}

tr.searchresultstable2
{
    background-color: #ffffff;
}

tr.tableheader
{
    background-color: #ADB96E;
    color: white;
    font-weight: bold;
}

tr.total
{
    background-color: #51824E;
    color: white;
    font-weight: bold;
    height: 18pt;
}

.reviewdiv
{
    border-style: groove;
    border-color: #e7e7e7;
    padding: 10;
}

.msgarea
{
    color: red;
    cursor: pointer;
}

button.cartbutton
{
    font-size: 8pt;
}

a
{
    color: blue;
    cursor: pointer;
}